@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

$primary-font:'Open Sans', sans-serif;

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #EFEAD8;
    font-family: $primary-font;
    position: relative;
}

header{
    background-color: #CDC2AE;
    padding: 3px;
    margin: 0;
    
    a{
        display: flex;
        justify-content: center;
        width: 48px;
        margin: 0 auto;
    }
}

main{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    

    h1{
        font-size: 3em;
        font-weight: 400;
        text-align: center;
        text-shadow: 1px 1px 1px black;
    }

    p{
        font-size: 1.5em;
        margin: 0 auto;
        width: 55vw;
        font-weight: 300;
        text-align: center;
    }

    form{
        margin: 15px auto;
        display: flex;

        input,button{
            border: none;
            font-size: 1.5em;
        }

        input{
            width: 35vw;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        button{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 5px;
            background-color: #ffa500;
            color: white;
        }

        button:hover{
            background-color: #e49c16;
            color: #DDDDFF;
            cursor: pointer;
        }
    }
}

